.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col {
    width: 80%;
    /* text-align: center; */
}

.post-title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

.updated-at {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.post-picture {
    text-align: center;
    margin-bottom: 20px;
}

.post-picture img {
    max-width: 100%;
    height: auto;
}

.post-content {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-footer {
    display: flex;
    justify-content: center;
}

.post-footer__item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.post-footer__item--img {
    margin-right: 10px;
}

.post-footer__item--text {
    font-size: 18px;
}

/* COMMENT SECTION */
.post-comment {
    margin-top: 50px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: relative;
  }
.post-comment i{
  margin-left: 5px;
}
  .post-comment h3 {
    margin-bottom: 20px;
  }
  .loginToComment{
    position: absolute;
    top: 24px;
    right: 20px;
    font-size: 14px;
  }
  .loginToComment a{
    color: #2e4cb8;
    list-style-type: none;
    text-decoration: none;
  }
  .post-comment .form-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .post-comment textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .post-comment button[type="submit"] {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .post-comment .comments-list {
    margin-top: 50px;
  }
  
  .post-comment .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
  }
  
  .post-comment .comment-text {
    margin-top: 10px; 
    font-size: 14px; 
    color: #333;
  }
  
  .post-comment .comment-author {
    font-weight: bold;
    color: #385898; 
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #f0f2f5; 
  }
  .post-comment .post-reaction, .comment-reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-comment .reply-btn {
  background-color: lightblue;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 4px 12px;
}
.post-comment .comment-updated-at{
  align-self: flex-end;
  font-size: 12px;
  color: gray;
  justify-items: end;
}
.post-comment .nested-comments{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
}
 /* REPLY SECTION */
 .reply-form {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.2s ease;
  }
  
  .reply-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  }
  
  .reply-form button {
  background-color: #337ab7;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  }
  
  .reply-form button:hover {
  background-color: #286090;
  }
  
  .comment:hover {
  background-color: #f5f5f5;
  }
  
  .comment-reaction {
    margin-top: 10px;
  display: flex;
  align-items: center;
  }
  
  .comment-reaction button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #337ab7;
  }
  
  .comment-reaction button i {
  margin-right: 5px;
  }
  
  .comment-reaction button:hover {
  color: #286090;
  }


  